@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Source+Sans+Pro&display=swap');
body {
    background-color: whitesmoke;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav a {
    text-align: center;
    color: #2FE6DE;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #89043d;
    color: white;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
header {
    background-color: rgba(137, 4, 61, .85);
    display: grid;
    grid-template-columns: 150px auto;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero img {
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}
.home-title {
    color: white;
    font-family: Yaldevi;
    font-size: 2em;
    margin-top: 10px;
}
#logo_link {
    padding-top: 5px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
grid-column: 2/3;
grid-row: 1/2;
margin-top: 100px;
text-align: center;
}
.logo {
    width: 130px;
}
.home-info {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 200px);
}
.home-img {
    grid-column: 2/5;
    grid-row: 2/3;
    width: 100%;
    justify-self: center;
    align-self: center;
}
.home-info p{
    display: block;
    background-color: #89043D;
    grid-column: 4/7;
    grid-row: 2/3;
    color: #2FE6DE;
    text-align: center;
    align-self: center;
    border: 0;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer h3 {
    color: #2fe6de;
}
footer a {
    color: #2fe6de;
    font-family: Lato;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}
footer {
    background-color: #89043d;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.malwarebytes img {
    width: 50%;
    margin-left: 50px;
}
/* malware page */

.malware-info {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

}
#malwareimg {
    width: 300px;
    height: 200px;
    grid-column: 2/4;
    grid-row: 2/4;

}
#phishingimg {
    width: 300px;
    height: 200px;
    grid-column: 7/9;
    grid-row: 2/4;

}
#malware-list-one {
    grid-row: 4;
    grid-column: 2/5;
}
.malware-info h2 {
    grid-column: 3/8;
    grid-row: 1/2;
    font-size: 22px;
    background-color: #89043d;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px black;
    color: #2FE6DE;
    text-align: center;
    margin-top: 50px;
}
#malware-list-two {
    grid-row: 4;
    grid-column: 6/9;
    margin-bottom: 75px;
}
/* Defense page */

#defense-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 100px);
}
#defense-grid p {
    grid-column: 2/5;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
    background-color: #89043d;
    color: #2fe6de;
}
#malewarebytes-img {
    grid-column: 2/5;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
}
#vpn {
    grid-column: 3/4;
    grid-row: 5/6;
    justify-self: center;
    align-self: center;
    margin-top: 68px;
}